In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from termcolor import colored

In [23]:
source = 'C:\\envs\\DataSets\\Chocolate Bar Ratings\\flavors_of_cacao.csv'

data = pd.read_csv(source)
data

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [24]:
data.columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [25]:
data.rename(columns={
    data.columns[0] : 'Company', 
    data.columns[1] : 'Bean_Origin',
    data.columns[3] : 'Review_Date',
    data.columns[4] : 'Cocoa_Percent', 
    data.columns[5] : 'Location', 
    data.columns[7] : 'Bean_Type', 
    data.columns[8] : 'Broad Bean'
}, inplace=True)

In [26]:
data

,Company,Bean_Origin,REF,Review_Date,Cocoa_Percent,Location,Rating,Bean_Type,Broad Bean
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [27]:
data.isna().sum()

Company          0
Bean_Origin      0
REF              0
Review_Date      0
Cocoa_Percent    0
Location         0
Rating           0
Bean_Type        1
Broad Bean       1
dtype: int64

In [28]:
data.iloc[1]

Company          A. Morin
Bean_Origin         Kpime
REF                  1676
Review_Date          2015
Cocoa_Percent         70%
Location           France
Rating               2.75
Bean_Type
Broad Bean           Togo
Name: 1, dtype: object